TESTING the Velocity Maven Plugin
---------------------------------

test.property            : $testProperty
properties.property      : $propertiesProperty
plugin.property          : $pluginProperty
environment.property     : $project.build.directory